@media (max-width:700px) {







    .row{
        flex-direction: column;
    }

.left-side {
  order: 1;
}

.right-side {
order: 2;

}





























































































































































































































    
}